<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body class="bg-home">
    <%- include("partials/topnav") %>
    <div class="p-2">
        <h1>About Us</h1>

    <h2 class="pt-5">Our Company</h2>
    <p class="text-justify">
        Take-IT-Easy, our mission is to assist small business owners in reducing the expenses associated with third-party e-commerce platforms by offering them customized standalone systems. We believe that by providing tailored solutions, we can create a cost-effective environment for small-scale businesses, empowering them to take charge of their operations and maximize their profits. 
What started as a modest concept among Ian James Gappe, Geraldine Soberano, Billy Joe Navarro, Janrix Joseph Sumait, and Christian Badua has transformed into a company propelled by innovation and a profound understanding of the challenges faced by small businesses. We identified the urgent need for cost-effective and efficient systems after observing numerous small-scale entrepreneurs losing profits to the high commissions imposed by third-party e-commerce and delivery platforms.
We are pleased to introduce Order-Eat, our flagship product that is set to transform the food service industry. Tailored specifically for small restaurants and food vendors, Order-Eat enables them to take complete control of their online sales, orders, and customer relationships, all without the burden of expensive commissions. This versatile system is designed to grow alongside businesses, providing all the essential tools—from order management to customer engagement—at a fraction of the cost of traditional platforms. With Order-Eat, businesses can efficiently streamline their operations and excel in a competitive landscape.
At Take-IT-Easy, we are dedicated to continuous innovation, helping small business owners succeed in a competitive digital landscape. We believe in empowering entrepreneurs with technology that supports them rather than hinders them, and we are only just beginning this journey.

    </p>
    </div>
    
</body>
</html>